.main {
	margin-top: 30px;
}
.title__h1 {
	margin-bottom: 20px;
}
.table-content {
	margin-top: 20px;
}

.inputs {
	margin: 20px auto 0 auto;
}
.inputs__title {
	margin-bottom: 20px;
}
.title__button, .inputs__button {
	text-align: center;
}