button {
    cursor: pointer;
}

.main {
    margin-top: 30px;
}

.title__h1 {
    margin-bottom: 20px;
}

.table-content {
    margin-top: 20px;
}

.table td,
.table th {
    vertical-align: middle;
}

.inputs {
    margin: 40px auto 0 auto;
    padding: 10px 20px;
<<<<<<< HEAD
=======
    border: 2px solid #e9ecef;
>>>>>>> d81875065de9f3bdc2d5ab9eb1dec7b1c5e1d402
}

.inputs__title {
    margin-bottom: 20px;
<<<<<<< HEAD
}

.title__button,
.inputs__button {
    text-align: center;
}

.about {
	margin: 50px auto 0 auto;
	text-align: justify;
}
.about__buttons {
	text-align: center;
	margin-bottom:20px;
}
.about__text {
	display: none;
=======
}

.title__button,
.inputs__button {
    text-align: center;
>>>>>>> d81875065de9f3bdc2d5ab9eb1dec7b1c5e1d402
}